@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*,
*::after,
*:before{
        /* внутренний отступ */
    padding: 0;
        /* внешний отступ */
    margin: 0;
        /* рамка */
    border: 0;
        /* размер блока равен внешнему отступу + остальное */
    box-sizing: border-box;
}

body{
    background-color: rgb(51, 51, 51);
    font-size: 18px;
    background-image: url("img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-position: 5% ; */
    background-attachment: fixed;
}

div {
    /* width: 100%; */
    height: auto;
    background-color: rgb(202, 202, 202);
    margin: 25px;
    padding: 30px;
}

.wrapper{
    background-color: rgb(144, 184, 230);
    max-width: 850px;
    height: auto;
    padding: 0;
    margin: 15px auto 25px auto;

        /* за пределы блока ничего не должно выходить */
    overflow: hidden;
}

div img{
    width: 100%;
    object-fit: cover;
}

.wrapper div p{
    margin: 15px 0;
    text-indent: 12px; /*красная строка*/
    line-height: 28px;
    text-align: left;
}

.wrapper div h1,
.wrapper div h2{
    margin: 25px 0;
    text-align: center;
    font-size: 40px;
    font-family:'Noto Sans', sans-serif;
}

.wrapper div {
    text-align: center;
}

.wrapper div button{
    background-color: rgb(246, 89, 128);
    padding: 20px;
    border-radius: 15px;
    font-size: 15px;
    font-family:'Noto Sans', sans-serif;
    cursor: pointer;
    transition: .5s; /*простейшая анимация*/
    
}

.wrapper div button:hover{
    background-color:rgb(185, 82, 82);
    border-radius: 20px;
}

/* МЕНЮ САЙТА */

.menuTop{

    background-color: rgba(255, 255, 255, 0.65);
     /* line-height: 150px; */
    display: flex
}

.menuFooter{
    background-color: rgba(255, 255, 255, 0.65);
    display: flex;
}

.logo{
    
width: 200px;
margin: -5px;


}


nav ul{

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    color:rgb(66, 66, 66);
    font-size: 40px;
    font-family:'Oswald', sans-serif;
    text-decoration: none;
    transition: .5s;
}

nav ul li a:hover{
    color: black;
    /*border-bottom: 5px solid black*/
}
.art{
    background-image: url(/img/snow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}